# API and Data Processing
requests==2.28.2
pandas==1.5.3

# Google Cloud
google-cloud-storage==2.7.0
google-cloud-bigquery==3.5.0

# Visualization
matplotlib==3.7.1

# Logging and Utilities
logging==0.5.1.2